body{
  padding: 10px 20px 10px 20px;

}
img{
  width: 130px;
  height: 100px;
}
h1{
  font-family:serif;
  font-size: 20px;
}
.titleQ{
  color: #e2be5f;
}
em{
  font-family: 'Nothing You Could Do', cursive;
}
.trophy{
  width: 1480px;
  height:520px;
}
.middle{
    background-color:#12296f;
  }
.heading{
  text-align: center;
  color: white;
  position: absolute;
  top:10px;
  left: 35%;
}
.container-fluid {
  position: relative;
  background-color:#12296f;
}
.buton{
  height: 50px;
  position: absolute;
  bottom: 6px;
  color: white;
  left: 45%;
  background-color: #12296f;
}
.Body-section{
display: inline-flex;
padding-top: 50px;
padding-bottom: 50px;
}


  .footTitle {
    font-family: 'Nothing You Could Do', cursive;
    text-transform:none;
    font-weight:400;
    color:black !important;
    font-size: 2em !important;
  }
.foot-section{
  position: relative;
}
#left-as{
  background-color: #e7e7de;
  padding: 10px 15px 10px 15px;
 }
 #middle-as{
   text-align: center;
   background-color: white;
   padding: 10px 15px 10px 15px;
   margin-left: 5%;
   margin-right: 10%;
  }

#f1{
  text-align: center;
  position: absolute;
  left: 5%;
}
#f2{
  position: absolute;
  right:43%
}
.madewithlove{
  text-align: center;
}
